[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit ~= "1.8.1"
pandas ~= "1.4.2"
benford-py ~= "0.5.0"
matplotlib ~= "3.5.1"
numpy ~= "1.22.3"

[dev-packages]

[requires]
python_version = "3.8"
